.genres-book-info {
    margin-top: 50px;
}

.genres-book-info span {
    color: #9A9A9A !important;
    font-size: 14px;
}

.genres-book-info a {
    color: #9A9A9A !important;
}


.genres-book-info span img {
    filter: brightness(0) saturate(100%) invert(67%) sepia(0%) saturate(0%) hue-rotate(225deg) brightness(91%) contrast(94%);
}

.genres-book-info p {
    font-size: 26px;
    font-weight: 600;
}
