/* Header */
header {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    height: 82px;
    border-bottom: #0000000D solid 1px;
    position: relative;
    z-index: 0;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.menu-item {
    margin-left: 35px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    padding-bottom: 2px;
    height: 82px;
    display: flex;
    align-items: center;
}

.menu-item:hover {
    color: #FFB539;
}

.menu-item:active {
    color: #FFCDA3;
    transition: none;
}

.menu-item::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FFB539;
    z-index: 1;
    transition: width 0.3s ease;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-item.active {
    color: #FFB539;
}

.menu-item.active::after {
    width: 100%;
}

/* Search Input */
.search,
.select-lang {
    height: 40px;
}

.search-container {
    max-width: 600px;
    width: 100%;
    position: relative;
}

.search {
    width: 100%;
    border-radius: 30px;
    border: #E0E0E0 solid 1px;
    background-color: #F3F3F3;
    padding: 8px 40px;
    transition: border-color 0.3s ease;
}

.search:focus {
    border: #FFB539 solid 2px !important;
    outline: none;
}

.search::placeholder {
    color: #999999;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 15px;
    transition: filter 0.1s ease;
    filter: invert(68%) sepia(0%) saturate(13%) hue-rotate(166deg) brightness(91%) contrast(89%);
}

.cross-icon {
    position: absolute;
    display: none;
    top: 8px;
    right: 15px;
    transition: filter 0.1s ease;
    cursor: pointer;
    filter: invert(79%) sepia(78%) saturate(1862%) hue-rotate(330deg) brightness(106%) contrast(103%);
}


/* Lang Select */
.custom-select-container {
    position: relative;
    display: inline-block;
    width: 90px;
}

.custom-select {
    position: relative;
    display: block;
    width: auto;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.custom-select-selected {
    font-weight: 600;
    display: flex;
    align-items: center;
}

.selected-flag {
    width: 20px;
    margin-right: 5px;
}

.custom-select-options {
    display: none;
    position: absolute;
    font-weight: 600;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.custom-select-option {
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-select-option:hover {
    background-color: #FFB539;
    border-radius: 10px;
}

.option-flag {
    width: 20px;
    margin-right: 5px;
}

.custom-select:hover .custom-select-options {
    display: block;
}

/* User avatar */
.user-ava {
    max-height: 40px;
    max-width: 40px;
    height: 100%;
    width: 100%;
    background-color: #FFB539;
    border-radius: 50%;
    color: #ffffff;
}

.menu-mobile-nav {
    max-height: 40px;
    max-width: 40px;
    width: 100%;
    height: 100%;
}

.search-icon-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.menu-mobile-active {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: #FFF5EF;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-mobile-active.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateX(0);
    opacity: 1;
    z-index: 10000;
    pointer-events: auto;
}

@media (max-width: 1400px) {
    .search-container {
        display: none;
    }

    .menu-mobile-nav {
        max-width: 110px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .menu {
        display: none !important;
    }

    .menu-mobile-nav img {
        width: 24px;
        height: 18px;
    }

    .search-icon-mobile {
        width: 25px !important;
        height: 25px !important;
        display: block;
    }

    .menu li {
        margin-left: 0px;
    }

    .custom-select-container {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .custom-select {
        background-color: transparent !important;
    }

    .menu-item::after {
        display: none;
    }

    .menu-item.active {
        display: none;
    }

    .menu-mobile-active button {
        border: none;
        background-color: #101010;
        font-weight: 500;
        padding: 18px 12px;
        border-radius: 10px;
        width: 100%;
        max-width: 327px;
        color: white;
    }

    .top-books {
        flex-wrap: wrap;
        position: relative;
        height: auto;
    }

    .top-books-collection {
        position: relative;
        z-index: 10000000000;
    }
}

@media (max-width: 700px) {
    .menu-mobile-active {
        overflow: hidden;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}