/* All books */
.all-books-container {
    margin-top: 50px;
}

.all-books-container p {
    margin: 0px !important;
    padding: 0px !important;
    font-size: 48px;
    font-weight: 600;
}


.all-books ul {
    display: flex;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
    /*overflow-y: hidden;*/
    /*overflow-x: scroll;*/
    /*scrollbar-width: none;*/
}

.all-books ul::-webkit-scrollbar {
    display: none;
}

.all-books ul li button {
    text-align: center;
    width: 100%;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    transition: color 0.3s ease, border 0.3s ease;
    white-space: nowrap;
}

.all-books ul li button:hover {
    color: #FFB539;
    border: 1px solid #F6C06566;
}

.all-books ul li button:active {
    color: #FFCDA3;
    border: 1px solid #FFF5EF;
    transition: none;
}

/* Top */
.top-books {
    margin-top: 50px;
    width: 50%;
    flex-direction: row;
}

.top-books-info {
    height: 470px;
    width: 50%;
}

.top-books button {
    border-radius: 10px;
    padding: 12px 18px;
    border: 0px;
}

.author {
    color: #9A9A9A;
    font-size: 14px;
}

.top-btn {
    background-color: #FFB539;
    color: black;
    font-weight: 600;
    border-radius: 10px;
    padding: 12px 18px;
    border: 0px;
}

.top-book-desc {
    color: #484848;
    font-size: 18px;
}


.top-readen {
    background-color: transparent;
    border: 1px solid black !important;
    transition: border 0.3s ease;
}

.top-readen:hover {
    border: 1px solid transparent !important;
}

.top-read-book {
    display: inline-block;
    /*width: 100%;*/
    min-width: 129px;
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-read-book:hover {
    background-color: #FFB539;
    color: black;
}

.top-read-book:active {
    background-color: #FCE2CE;
    border: 1px solid #F6C065 !important;
    transition: none;
}


/* Slider */
.slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*width: 70%;*/
    width: 50%;
    margin: auto;
}

.top-books-collection {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    height: 470px;
    z-index: 1;
    text-align: center;
}

.book-container-content p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: black;
}

.book-container-content {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #9A9A9A;

}

.book-container-content h3, p {
    color: black;
}

.top-book-container {
    height: auto;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    opacity: 0.5;
    transition: border 0.3s ease;
    overflow: hidden;
}

.top-book-container img {
    width: 100%;
    height: 100%;
    max-height: 230px;
    object-fit: cover;
    border-radius: 10px;
}

.slider .swiper-wrapper {
    display: flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
}

.slider .swiper-slide {
    /*width: 130px !important;*/
    /*height: 267px !important;*/
    opacity: 0.5;
}


.slider .swiper-slide-active {
    width: 160px !important;
    height: 315px !important;
    opacity: 0.8;
    z-index: 2 !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.swiper-button-prev img:hover,
.swiper-button-next img:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(10%) saturate(1140%) hue-rotate(339deg) brightness(106%) contrast(111%);
}

.swiper-button-prev img:active,
.swiper-button-next img:active {
    filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(3943%) hue-rotate(321deg) brightness(121%) contrast(127%);
}

.top-book-container img {
    width: 100%;
}

.book-container-content {
    margin: 0px !important;
    padding: 8px 12px;
    text-align: start;
    font-weight: 500;
}

.top-book-container p {
    margin: 0px !important;
    font-size: 14px;
}

.crown {
    filter: invert(79%) sepia(78%) saturate(1862%) hue-rotate(330deg) brightness(106%) contrast(103%);
    position: absolute;
    width: 32px !important;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}


/* Book */
.book-container {
    width: 160px !important;
}

.book-container div:first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 160px !important;
    height: 323px !important;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid white;
    transition: border 0.3s ease;
}

.book-container button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 8px 12px;
    width: 100%;
    color: white;
    font-size: 16px;
    background-color: rgba(16, 16, 16, 1);
    border: 1px solid black;
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}

.book-container button:hover {
    color: black;
    border: 1px solid #FFB539;
    background-color: #FFB539;
}


.book-container div:first-child:hover {
    border: 1px solid #F6C065;
    cursor: pointer;
}


.book-container div:first-child img {
    width: 100%;
    height: 100%;
    max-height: 244px;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-top-book-container img {
    width: 100%;
    height: 100%;
    max-height: 244px;
    object-fit: cover;
    border-radius: 10px;
}

.top-book-container:hover {
    border: 1px solid #F6C065;
    cursor: pointer;
}

/* Category */
.category-container {
    padding: 0 !important;

    margin-top: 50px;
    overflow: hidden;
}

.swiper-category-container1,
.swiper-category-container2,
.swiper-category-container3,
.swiper-category-container4,
.swiper-category-container5,
.swiper-category-container6,
.swiper-category-container7,
.swiper-top-book-container,
.swiper-collection-container {
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 0 !important;
}


.swiper-category-button-next1 img:hover,
.swiper-category-button-prev1 img:hover,
.swiper-category-button-next2 img:hover,
.swiper-category-button-prev2 img:hover,
.swiper-category-button-next3 img:hover,
.swiper-category-button-prev3 img:hover,
.swiper-category-button-next4 img:hover,
.swiper-category-button-prev4 img:hover,
.swiper-category-button-next5 img:hover,
.swiper-category-button-prev5 img:hover,
.swiper-category-button-next6 img:hover,
.swiper-category-button-prev6 img:hover,
.swiper-category-button-next7 img:hover,
.swiper-category-button-prev7 img:hover,
.swiper-new-book-next img:hover,
.swiper-new-book-prev img:hover,
.swiper-top-book-container-next img:hover,
.swiper-top-book-container-prev img:hover,
.swiper-collection-container-next img:hover,
.swiper-collection-container-prev img:hover {
    filter: brightness(0) saturate(100%) invert(75%) sepia(10%) saturate(1140%) hue-rotate(339deg) brightness(106%) contrast(111%) !important;
}

.swiper-category-button-next1 img:active,
.swiper-category-button-prev1 img:active,
.swiper-category-button-next2 img:active,
.swiper-category-button-prev2 img:active,
.swiper-category-button-next3 img:active,
.swiper-category-button-prev3 img:active,
.swiper-category-button-next4 img:active,
.swiper-category-button-prev4 img:active,
.swiper-category-button-next5 img:active,
.swiper-category-button-prev5 img:active,
.swiper-category-button-next6 img:active,
.swiper-category-button-prev6 img:active,
.swiper-category-button-next7 img:active,
.swiper-category-button-prev7 img:active,
.swiper-new-book-next img:active,
.swiper-new-book-prev img:active,
.swiper-top-book-container-next img:active,
.swiper-top-book-container-prev img:active,
.swiper-collection-container-next img:active,
.swiper-collection-container-prev img:active {
    filter: brightness(0) saturate(100%) invert(72%) sepia(3%) saturate(3943%) hue-rotate(321deg) brightness(121%) contrast(127%) !important;
}

/* Best book */
.best-book-month {
    /* height: 503px; */
    height: auto !important;
    padding: 50px !important;
    padding-bottom: 0px !important;
    flex-wrap: wrap-reverse;
    margin-top: 115px;
    border-radius: 20px;
    background-color: #FFF5EF;
}

.top-books-mobile {
    display: none;
}

.best-book {
    position: relative;
    bottom: 150px;
    max-width: 349px;
    width: 100%;
    height: 100%;
    max-height: 518px;
    object-fit: cover;
    border-radius: 10px;
}

.best-book-month .top-books {
    margin-top: 0px;
    padding-bottom: 30px;
}


.best-book-month-info {
    padding-left: 30px;
}

.best-book-month-info img {
    filter: invert(79%) sepia(78%) saturate(1862%) hue-rotate(330deg) brightness(106%) contrast(103%);
}

/* Top readen */
.top-readen-book {
    height: 377px;
    border: none;
    width: 40%;
}

.top-readen-book button {
    background-color: #FFCDA3;
    border: none;
    border-radius: 10px;
    padding: 8px 12px;
    font-weight: 500;
}

.top-readen-book p {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}

.top-readen-book-container {
    margin-top: 50px;
}

.top-readen-book-container .category-container {
    width: 60%;
}

/* New book */
.new-books {
    margin-top: 50px;
}

.swiper-new-book-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.new-books button {
    background-color: #16C79A;
    border: none;
    color: #222831;
    padding: 12px 18px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
}

.new-books p {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}

.new-book-container {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    max-width: 540px;
    width: 100%;
    height: 260px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
}

.new-book-container:hover {
    border: 1px solid #F6C065;
    cursor: pointer;
}

.new-books-slide {
    margin-top: 30px;
}

.new-book-container img {
    border-radius: 10px;
    max-width: 161px;
    width: 100%;
    height: 100%;
    max-height: 260px;
    object-fit: cover;
}

.new-book-container .book-container-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    white-space: break-spaces;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.new-book-container .book-container-content p {
    font-size: 14px;
    font-weight: 400;
    color: #484848;
    line-height: 20px;
}

.new-books-slide .swiper-slide {
    display: flex !important;
    flex-direction: column;
    gap: 30px !important;
}

.swiper-new-book-container .swiper-wrapper {
    margin-bottom: 20px;
}

/* Top genre */
.top-genre {
    margin-top: 50px;
}

.top-genre-p {
    font-size: 36px;
    font-weight: 600;
}

.all-genres {
    margin-top: 50px;
}

.genere-container {
    width: 255px;
    /*height: 325px;*/
    max-height: 325px;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid white;
    transition: border 0.3s ease;
}

.genere-container img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    max-height: 196.31px;
    object-fit: cover;
}

.genere-container:hover {
    border: 1px solid #F6C065;
    cursor: pointer;
}

.genres-info {
    padding: 10px 10px 5px;
    height: 70%;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: #9A9A9A;
}

.genres-info p {
    font-weight: 700;
    /*font-size: 22px;*/
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

.genre-grid {
    display: flex;
    gap: 30px;
    /*justify-content: space-;*/
    flex-direction: row;
    flex-wrap: wrap;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    padding: 50px 20px;
    background-color: #212121;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer .container img {
    height: 100%;
    max-width: 70px;
    max-height: 27px;
}

.footer-content ul {
    gap: 40px;
    color: #F3F3F3;
}

.footer-content li {
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease;
}

.footer-content li:hover {
    color: #FFB539;
    border-bottom: 1px solid #FFB539;
}

.top-news-mobile {
    display: none;
}


.footer-content ul li img {
    display: none;
}

.mobile-device {
    display: none;
}

.desctop {
    display: flex;

}

@media (max-width: 1400px) {
    /*.swiper-button-next,*/
    /*.swiper-button-prev {*/
    /*    display: none !important;*/
    /*}*/
    /*.top-books-collection {*/
    /*    position: relative;*/
    /*    z-index: 10000000000;*/
    /*}*/
    .desctop {
        display: none !important;

    }

    .mobile-device {
        display: flex !important;
    }

    .user-ava {
        max-width: 30px;
        max-height: 30px;
    }

}

.slider .top-btn {
    display: none;
}

.all-genres-section {
    width: auto;
}

.all-genres-section button {
    margin-top: 10px;
    border-radius: 10px;
    padding: 8px 12px;
    width: 100%;
    color: white;
    font-size: 16px;
    background-color: rgba(16, 16, 16, 1);
    border: 1px solid black;
    transition: color 0.3s ease, border 0.3s ease, background-color 0.3s ease;
}

.all-genres-section button:hover {
    color: black;
    border: 1px solid #FFB539;
    background-color: #FFB539;
}


@media (max-width: 1100px) {
    .slider {
        display: flex;
        flex-direction: column;
    }

    .nav-slider {
        position: absolute;
        bottom: 0;
        z-index: 10;
        width: 100%;
    }

    .slider .swiper-button-prev,
    .slider .swiper-button-next {
        position: absolute;
        bottom: -50px;
        z-index: 10;
    }

    .slider .swiper-button-prev {
        left: 0;
    }

    .slider .swiper-button-next {
        right: 0;
    }


    .best-book {
        position: relative;
        bottom: 0;
        width: 177px;
        height: 265px;
        border-radius: 10px;
        /* margin-top: 40px !important; */
    }

    .author {
        font-size: 10px;
    }

    .category-container {
        margin-top: 40px !important;
    }

    .new-books {
        margin-top: 40px !important;
    }

    .all-books-container {
        margin-top: 40px !important;
    }

    .swiper-new-book-prev, .swiper-new-book-next {
        display: none;
    }

    .top-genre {
        margin-top: 40px !important;
    }

    .all-genres {
        margin-top: 40px !important;
    }

    footer {
        margin-top: 60px;
    }

    .best-book-month {
        margin-top: 40px;
        padding: 36px !important;
        gap: 20px;
    }


    .top-books-mobile {
        height: auto;
        display: block;
    }

    .top-books {
        width: 100% !important;
    }

    .best-book-month .top-books * {
        width: 100% !important;
    }

    .best-book-month .top-books {
        padding-bottom: 0px;
    }

    .best-book-month .top-btn {
        display: none;
    }

    .best-book-month .top-books-mobile .top-btn {
        display: block;
    }

    .top-readen {
        margin-top: 20px;
    }

    .top-readen {
        margin-top: 20px;
    }

    .top-readen-book-container {
        padding: 0px !important;
        margin-top: 40px !important;
        flex-wrap: wrap;
    }

    .top-readen-book {
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .top-readen-book-container .category-container {
        width: 100%;
    }

    .swiper-new-book-container {
        display: none;
    }

    .top-news-mobile {
        width: 100%;
        display: flex;
        justify-content: start;
        /*margin-bottom: 40px;*/
    }

    .top-news-mobile p {
        font-size: 16px;
    }

    .top-news-mobile * {
        opacity: 1 !important;
    }


}

@media (max-width: 800px) {
    .slider {
        width: 100%;
    }

    .slider .top-btn {
        display: block !important;
        position: absolute;
        top: 0;
        left: 0;
    }

    .all-books ul {
        flex-wrap: nowrap;
        overflow-y: hidden;
        overflow-x: scroll;
        scrollbar-width: none;
    }


    .top-books-collection {
        margin-top: 30px;
    }

    .top-books .top-btn {
        display: none;
    }

    .top-books-info {
        margin-top: 20px;
        width: 100%;
        height: auto;
    }

    .top-genre {
        height: 100%;
    }

    .genere-container {
        width: 158px;
        max-height: 200px;
    }

    .genere-container p {
        font-size: 14px;
    }

    footer {
        width: 100% !important;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    footer div:first-child {
        width: 100%;
        flex-direction: column;
        gap: 30px;
    }

    .logo-white {
        width: 91px;
        height: 36px;
        margin: 0 auto;
    }

    .footer-content ul {
        width: 100%;
        flex-direction: column !important;
        gap: 15px;
    }

    .footer-content ul li {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .footer-content ul li img {
        display: block;
        filter: invert(1) brightness(2);
    }

    .book-container {
        width: 106px !important;
    }

    .book-container div:first-child {
        width: 106px !important;
        height: 220px !important;
    }

    .book-container div:first-child img {
        width: 100%;
        height: 150px !important;
    }

    .book-container div:first-child p {
        font-size: 12px;
    }

    .book-container button {
        font-size: 12px;
    }

    .genere-container img {
        width: 100%;
        height: 100%;
        max-height: 122px;
    }
}
