.room-text {
    border-bottom: 1px solid #C4C4C4;
}

.cabinet-menu {
    margin-top: 30px;
    gap: 10px;
}

.cabinet-menu button {
    border: none;
    background: transparent;
    transition: color 0.3s ease;
}

.cabinet-menu button:hover {
    color: #F6C065;
    border-bottom: 1px solid #F6C065;
}

.cabinet-menu-active {
    color: #F6C065;
    border-bottom: 1px solid #F6C065 !important;
}

.room-book {
    margin-top: 50px;
}

.room-book-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 850px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    border: 1px solid white;
}

.room-book-container:hover {
    border: 1px solid #F6C065;
    cursor: pointer;
}

.room-book-container img {
    height: 100%;
    width: 160px;
}

.room-book-container div {
    height: 100%;
    padding: 20px;
}

.reating-info {
    display: none;
}

.book-room {
    border-radius: 10px;
}

.book-room-btn {
    display: none;
}

@media screen and (max-width: 1000px) {
    .description {
        display: none;
    }

    .reating-info {
        display: block;
        margin-top: 10px !important;
        border-top: 1px solid #C4C4C4;
    }

    .reating-info img {
        width: 14px;
    }

    .book-room {
        width: 106px;
        height: 159px !important;
    }

    .room-book-container div {
        height: 100%;
        padding: 0px;
    }

    .room-book-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .room-book-container .reating-info {
        margin: 0px !important;
        padding: 0px !important;
    }

    .book-short-info {
        padding-left: 10px !important;
        /* align-items: start; */
    }

    .cabinet-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px !important;
        border: 1px solid #C4C4C4;
        border-radius: 10px;
    }

    .book-room-btn {
        margin-top: 10px !important;
        padding: 0px !important;
        display: block;
        margin-bottom: 10px;
    }

    .book-room-btn * {
        width: 100% !important;
    }

    .book-room-btn .top-readen {
        margin-top: 10px !important;
    }
}