.about-book {
    margin-top: 50px;
    width: 100%;
    height: 378px;
    flex-direction: row;
    align-items: center;
}

.about-book img {
    border-radius: 10px;
}

.book {
    max-width: 256px;
    width: 100%;
    height: 378px;
    object-fit: cover;
}

.book-info {
    padding-left: 20px;
    padding-right: 20px;
    height: 100% !important;
    margin: 0 !important;
}

.book-info .top-book-desc {
    color: #484848;
    font-size: 18px;
}

.book-details {
    border-left: 1px solid #D9D9D9;
    padding-left: 20px;
    max-height: 378px;
    height: 100vh !important;
}

.book-details div {
    gap: 10px;
}

.see-more {
    background-color: transparent;
    padding: 0px !important;
    border: none;
}

.book-details .best-book-month-info {
    padding-left: 0px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-details a {
    transition: all 0.3s ease;
}

.book-details a:hover {
    color: #FFB539 !important;
}

.book-info-mobile {
    display: none;
    object-fit: cover;
}

.review form textarea {
    width: 100%;
    height: 200px;
    padding: 8px 16px;
    font-weight: 500;
    background-color: transparent;
    border: 1px solid #CCCCCC;
    transition: color 0.3s ease, border 0.3s ease;
    border-radius: 10px;
}

.review form textarea:focus {
    outline: none;
    border: 1px solid #FFB539;
}

.review form button {
    position: relative;
    margin-top: 10px;
    float: right;
    max-width: 178px;
    width: 100%;
    padding: 8px 12px;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    transition: all 0.3s ease;
}

.review form button:hover {
    color: black;
    border: 1px solid #FFB539;
    background-color: #FFB539;
}

.review form button:active {
    background-color: #FCE2CE !important;
    border: 1px solid #F6C065 !important;
    transition: none;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    cursor: pointer;
}

.star {
    font-size: 2rem;
    color: #ccc;
    transition: color 0.3s ease;
}

.star:hover,
.star:hover ~ .star {
    color: #FFB539;
}

.star.active {
    color: #FFB539;
}

.star.selected {
    color: #FFB539;
}

/* review */

.reviews {
    padding: 8px 12px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05) !important;
    margin-bottom: 15px;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-rating .star {
    font-size: 1.2rem;
    color: #ddd;
}

.review-rating .star.filled {
    color: #FFB539;
}

.review-user {
    font-weight: bold;
    color: #333;
}

.review-text {
    font-size: 1rem;
    color: #555;
    margin: 10px 0;
}

.review-date {
    font-size: 0.85rem;
    color: #999;
    display: block;
    text-align: right;
}


@media (max-width: 1200px) {
    .about-book {
        margin-top: 40px !important;
        width: 100%;
        height: auto;
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        align-items: start;
    }

    .book {
        display: none;
    }

    .book-details {
        margin-left: 10px;
        padding-left: 10px;
        height: auto !important;
    }

    .book-info-mobile {
        display: block;
        max-width: 122px;
        width: 100%;
        height: auto;
    }

    .book-info {
        margin-top: 40px !important;
    }

    .top-book-desc {
        margin-top: 15px;
    }

}

@media (max-width: 800px) {
    .book-info-mobile {
        display: block;
        max-width: 122px;
    }

    .book-details {
        font-size: 12px
    }

    footer {
        position: relative;
    }

    .book-info {
        padding-left: 0;
        padding-right: 0;
        height: 100% !important;
        margin: 0 !important;
    }

    .review form button {
        max-width: 100%;
    }

}
