.container_mobile {
    margin-top: 140px;
}

.back-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.date-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: -70px;
}

.date-selector button {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

.date {
    margin: 0 10px;
    padding: 10px 20px 10px 20px;
    background-color: #FFFFFF;
    color: #111115;
    border-radius: 44px;
    line-height: 25.6px;
}


.zone {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    background-color: #29292C;
    padding: 14px;
}

.total {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 400 !important;
    line-height: 40px !important;
}

.payment-method {
    margin-bottom: 20px;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.payment-options button {
    color: #fff;
    padding: 7px 16px;

    border-radius: 44px;
    font-weight: 600;
    cursor: pointer;
    width: 48%;
    border: 1px solid #31303B;
    background-color: transparent;
}

.active-payment {
    background: white !important;
    color: #111115 !important;
}

.delete-btn {
    background-color: transparent;
}

.booking-rules {
    margin-top: 20px;
}

.booking-rules p {
    font-size: 16px;
    margin-bottom: 10px;
}

.booking-rules li {
    font-size: 16px;
    list-style-type: disc;
    color: white;
    font-weight: 400 !important;
    line-height: 25.6px;
}

.pay-btn {
    background: #4caf50;
    border: none;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

/*Table*/
.time-slots {
    margin-bottom: 20px;
    overflow-x: auto;
}

.slots-table {
    width: max-content;
    height: 300px;
    overflow: auto;
    border-collapse: separate;
    display: block;
    /*margin: 0 auto;*/
    border-spacing: 5px;
}

.slots-table th, .slots-table td {
    text-align: center;
    width: 80px;
    height: 40px;
}

.slots-table th {
    background: #fff;
    color: #111115;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    width: 80px;
    height: 44px;
    position: relative;
    overflow: hidden;
    cursor: not-allowed;
}

.with-triangle::before {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-top: 10px solid #111115;
}

.slot {
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    background: #252529;
    line-height: 20px;
    border: 1px solid #111115;
}

.slot span {
    font-weight: 500 !important;
}

.slot_booked {
    background-color: #111115 !important;
    cursor: not-allowed;
}

.slot.selected {
    background: #B2F888;
    color: #111115;
}

.empty-slot {
    background: #111115;
    border: 1px dashed #31303B;
    height: 44px;
}

.selected-slot {
    padding: 10px 0 10px 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fff;
}

.selected-slot .selected_date {
    font-weight: 400;
}

.selected-slot .cost_cancel_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
}

.cost_cancel_section h2 {
    margin-right: 10px;
}

.selected-slot div {
    display: flex;
    flex-direction: column;
}

.flatpickr-calendar {
    z-index: 100000 !important;
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, 0%) !important;
    margin: 0 auto !important;
    background-color: #252529 !important;
}

.flatpickr-innerContainer {
    padding: 0 !important;
    border-radius: 44px;
}

.dark-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 19999;
    display: none;
}

.show-overlay {
    display: block;
}

.court_stadium {
    background-color: #29292C;
    text-align: center;
    height: 44px;
    line-height: 44px;
    margin: 4px;
    width: 100%;
}


.slots-table::-webkit-scrollbar {
    display: none;
}

.error_modal {
    position: fixed;
    bottom: 95px;
    left: 50%;
    width: 342px;
    transform: translateX(-50%);
    background-color: #FF9C9C;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #FF9C9C;
    display: none;
    z-index: 1000;
}

.numInputWrapper {
    display: none !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.dayContainer {
    padding: 10px !important;
}

.flatpickr-weekdays {
    padding: 10px !important;
}

.user-info-form {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px 16px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111115;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    border-radius: 8px;
}

/*.close {*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.court-photos img {
    margin-top: 10px;
}

.slot.inactive {
    background-color: #111115;
    pointer-events: none;
    cursor: not-allowed;
}
